# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/abyssiniasoftwar/eplus.abyssiniasoftware.com"
PassengerBaseURI "/"
PassengerNodejs "/home/abyssiniasoftwar/nodevenv/eplus.abyssiniasoftware.com/18/bin/node"
PassengerAppType node
PassengerStartupFile src/app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END